<div class="app">
    <div class="bg"></div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <header>
            <img
                src="https://cdn.dribbble.com/users/788099/screenshots/10401509/media/ba4af5e450c480376c5693357e9f2e6c.png" />
        </header>

        <div class="inputs">
            <div class="not" *ngIf="not">
                <p>*Email or password incorect</p>
            </div>
            <input type="text" name="email" placeholder="email" #email="ngModel"
                [(ngModel)]="service.selectedRegister.email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                [class.is-invalid]="email.invalid && email.touched" required /><small class="text-dark"
                [class.d-none]="email.valid || email.untouched">*Enter valid email address</small>
            <input type="password" name="password" placeholder="password" #password="ngModel"
                [(ngModel)]="service.selectedRegister.password"
                [class.is-invalid]="password.invalid && password.touched" required />
            <small class="text-dark" [class.d-none]="password.valid || password.untouched">*Enter a password</small>
        </div>
        <br /><br />
        <footer>
            <button class="login" [disabled]="!form.valid" type="submit">
                Login
            </button>

            <p>
                Don't have an account?
                <a routerLink="/register" class="next"
                    style="font-size: 20px; color: rgb(56, 56, 247); cursor: pointer;">Sign Up</a>
            </p>
        </footer>
    </form>
</div>